@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
}
  
body {
    margin: 0 auto;
    width: 1000px;
    background: #f8f7f2;
    font-family: "Montserrat", sans-serif;
    height: 100%;
  }
  
header, main, footer {
    margin: 0 auto;
    text-align: center;
  }
  
li {
    list-style-type: none;
  }
  
a {
    text-decoration: none;
  }

.menu {
	display: block;
	margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}

.menu li {
	display: inline-block;
    margin: 0 10px;
    padding: 0;
}

.menu li a {
	color: #6b4c3a;
	font-size: 15px;
	font-weight: 600;
	width: 130px;
}

.menu a:hover {
  color: #74748a;
}

header {
	padding-bottom: 30px;
	height: 280px;
	position: relative;
	border-bottom: 1px solid #6b4c3a;
}

.photo {
	position: absolute;
	left: 150px;
}

.header-photo {
	width: 250px;
	height: 280px;
	border: 1px solid #6b4c3a;
	border-radius: 50px;
}

.header-text {
	position: absolute;
	right: 150px;
	top: 50px;
	margin: 0 auto;
}

h1	{
	font-size: 40px;
	font-weight: 800;
}

h3 {
	font-size: 25px;
	font-weight: 600;
}